a{
    color: black;
}
.recherche_restau {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
}
.recherche_restau input{
    width: 260px;
    border: 1px solid black;
    padding: 7px;
    border-radius: 20px;
}
.recherche_restau section img{
    width: 20px;
    margin-left: -30px;
    margin-top: 1px;
}
.liste_{
    width: 100%;
    display: flex;
    justify-content: center;
}


.liste_restau{
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.liste_restau{
    width: 99%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


.boutique_restau{
    width: 180px;
    height: 300px;
    background-color: rgb(235, 235, 235);
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.img_restau{
    width: 90%;
    height: 70%;
    margin-top: 10px;
}
.img_restau img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.info_restau{
    margin-top: -10px;
    width: 90%; 
}

.info_restau h2{
    font-size: 20px;
}
.info_restau h4{
    font-size: 12px;
}
.info_restau p{
    font-size: 10px;
}

/* responsive de la bare de navigation 
404 px
*/
@media screen and (max-width: 404px) {
    .boutique_restau{
        width: 150px;
        height: 220px;
}
.img_restau{
    width: 90%;
    height: 140px;
    margin-top: 8px;
}
.info_restau h2{
    font-size: 15px;
}
.info_restau h4{
    font-size: 9px;
}
.info_restau p{
    font-size: 10px;
}
}